/* 

.card-container {
  display: flex;
  justify-content: center;
}

.card {
  align-items: center;
  width: 20rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px; 
  transition: transform 0.3s;
  box-shadow: inset;
}

.card:hover {
  transform: scale(1.50);
}

.card-img {
  border: 1px solid #ccc;
  border-radius: 5px;
}

  .card:hover {
    transform: scale(1.15);
  }

  .card:hover .price::before {
    animation: text-hover 1s ease-in-out infinite normal;
  }
  
  .card:hover .plan::before {
    right: 90%;
  }
  
  .card:hover .plan::after {
    right: -90%;
  }
  
  .card:hover .buy-button {
    width: 100%;
    right: 0%;
    border-radius: 0%;
  }
  .card:hover .buy-button h3 {
    left: 50%;
    transform: translate(-50%, 0%);
  } 

  .card:hover {
    transform: scale(1.5); 
  }

 */

 .aboutus{
  margin-top: -15px;
  align-items: center;
  border-radius: 15px;
  transition: transform 0.3s;
  box-shadow: 0px 0px 5px 0px #767777;
 }

 .aboutus1{
  align-items: center;
  transition: transform 0.3s;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px #8b8585;
 }


 .aboutus2{
  align-items: center;
  border-radius: 10px;
  transition: transform 0.3s;
  box-shadow: 0px 0px 5px 0px #959898;
  background: linear-gradient(45deg, #ffb5ff, #fcfcfc);
 }
